{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="d-flex flex-row justify-content-between mt-3">
      <h2 class="d-inline">Just List</h2>
      <div>
        <a href="{% url 'posts:post_list' %}" class="btn btn-light">목록보기</a>
        <a href="{% url 'posts:post_add' %}" class="btn btn-primary">추가</a>
      </div>
    </div>

    <hr/>

    <div class="text-center my-5 text-muted">
      Hello world for Docker
    </div>

    <div class="text-center">
      <img src="{% static 'img/golden.png' %}" style="width: 100px; object-fit: cover;">
    </div>
  </div>
{% endblock %}

